@import 'colors';

.btn-primary,
a.btn-primary,
input.btn-primary {
    cursor: pointer;
    display: inline-block;
    color: $white;
    background: $black;
    border: 3px solid $black;
    padding: 0.5em;
    font-size: 1.75em;
    font-family: Kirsty, Helvetica, Arial;
    text-decoration: none;
    transition: all 1s ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, $black 50%, $red 50%);
    transition: background-position 1s;
    border-radius: 0;

    &:visited {
        color: $white;
    }

    &:hover {
        transition: background-position 0.4s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0 75%;
    }
}

.button.btn-primary,
form input.btn-primary {
    height: 57px;
    padding: 0.25em;
}

.tgl {
    display: none;
    // add default box-sizing for this scope
    &,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn,
    &:after,
    &:before {
        box-sizing: border-box;

        &::selection {
            background: none;
        }
    }

    + .tgl-btn {
        outline: 0;
        display: inline-block;
        width: 3em;
        height: 2.04em;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .tgl-btn:after {
        left: 50%;
    }
}

.tgl-skewed {
    + .tgl-btn {
        overflow: hidden;
        transform: skew(-10deg);
        backface-visibility: hidden;
        transition: all 0.2s ease;
        background: #888;

        &:after,
        &:before {
            transform: skew(10deg);
            display: inline-block;
            transition: all 0.2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0,0,0,.4);
        }

        &:after {
            left: 100%;
            content: attr(data-tg-on);
        }

        &:before {
            left: 0;
            content: attr(data-tg-off);
        }

        &:active {
            background: #888;

            &:before {
                left: -10%;
            }
        }
    }

    &:checked + .tgl-btn {
        background: $black;

        &:before {
            left: -100%;
        }

        &:after {
            left: 0;
        }

        &:active:after {
            left: 10%;
        }
    }
}
