@import 'colors';

form {
    margin-bottom: 0;

    input {
        margin-bottom: 0;
    }
}

input[type="number"],
input[type="number"]:focus,
input[type="text"],
input[type="text"]:focus,
select,
select:focus,
textarea,
textarea:focus {
    border: 3px solid $black;
    border-radius: 0;
}

.edit {
    height: 98%;
    margin-top: 0.5em;
}

em.edit {
    margin-right: 8px;
    font-weight: 100;
}

textarea {
    width: 100%;
    min-height: 150px;
    height: 96%;
    margin: 0.1em 0 0;
    resize: none;
}

.description .edit textarea {
    width: 96%;
}

.stat-four,
.stat-one,
.stat-three,
.stat-two,
.stat-zero {
    cursor: pointer;
    vertical-align: bottom;
    display: inline-block;
    width: 25px;
    height: 31px;
    border: 2px solid $black;
    margin-left: 0.15em;
    padding: 0.25em;

    &.current {
        background: $silver;
    }

    &:after {
        position: relative;
        top: -3px;
        left: 2px;
    }

    &:hover {
        background: $gray;
    }
}

.stat-zero {
    &:after {
        content: '0';
    }
}

.stat-one {
    &:after {
        content: '1';
    }
}

.stat-two {
    &:after {
        content: '2';
    }
}

.stat-three {
    &:after {
        content: '3';
    }
}

.stat-four {
    &:after {
        content: '4';
    }
}
