@import 'colors';

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8.2em;
    width: 100%;
    background: $black;
    color: $white;
    padding: 0.2em;
    margin-top: -2px;
    margin-bottom: 2.75rem;

    .list {
        display: flex;
        align-items: center;
        justify-content: inherit;
        width: 100%;
        margin: 0.8em;

        .list-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            font-size: 1.4em;
            height: 5.9em;

            p {
                margin: 0;
            }

            &.action {
                flex-grow: 1;
                transition: 0.2s all ease;
                text-decoration: none;

                p {
                    color: $white;
                }

                &:hover {
                    & > * {
                        color: $white;
                    }
                    transition: 0.2s all ease;
                    background: darken($gray, 25%);
                }
            }
            transform: skew(-25deg);

            > * {
                transform: skew(25deg);
            }

            form {
                margin: 0;

                input {
                    margin: 0;
                    border-color: inherit;
                    background-color: inherit;
                    background-image: linear-gradient(to bottom, $white 50%, $red 50%);
                    width: 6em;
                    height: 2.2em;
                    padding: 0;
                    line-height: 2em;
                    text-align: center;

                    &:hover {
                        border-color: $white;
                    }
                }
            }
        }
    }
}
