@import 'colors';

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8.2em;
    width: 100%;
    background: $black;
    color: $white;
    padding: 0.2em;
    margin-top: -3px;
    margin-bottom: 2.75rem;

    .list {
        display: flex;
        align-items: center;
        justify-content: inherit;
        width: 100%;
        margin: 0.8em;

        .list-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            font-size: 1.4em;
            height: 5.9em;

            p {
                margin: 0;
            }

            &.action {
                flex-grow: 1;
                transition: 0.2s all ease;
                text-decoration: none;

                p {
                    color: $white;
                }

                &:hover {
                    & > * {
                        color: $white;
                    }
                    transition: 0.2s all ease;
                    background: darken($gray, 25%);
                }
            }
            transform: skew(-25deg);

            > * {
                transform: skew(25deg);
            }

            form {
                margin: 0;

                input {
                    margin: 0;
                    border-color: inherit;
                    background-color: inherit;
                    background-image: linear-gradient(to bottom, $white 50%, $red 50%);
                    width: 6em;
                    height: 2.2em;
                    padding: 0;
                    line-height: 2em;
                    text-align: center;

                    &:hover {
                        border-color: $white;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    @extend %glyphicon-option-vertical;
}

nav input[type='checkbox'] ~ .mobile-menu {
    display: none;
    color: white;
    position: relative;
    left: 2em;
    top: 0.25em;
    font-size: 3em;
}

nav > input[type='checkbox'] {
    display: none;
}

nav input:checked ~ .mobile-menu {
    display: none;
    @extend %glyphicon-option-horizontal;
}
@media (max-width: 600px) {
    nav {
        height: 6.2em;

        nav input[type='checkbox'] ~ .mobile-menu {
            display: block;
        }

        input {
            &:checked ~.mobile-menu {
                left: 1em;
            }

            &~ .list {
                .list-item {
                    margin-right: 10000px;
                }
            }

            &:checked ~ .list {
                flex-direction: column;
                z-index: 10000;
                background: #333;
                position: relative;
                top: 19em;
                left: -4em;

                .list-item {
                    margin-right: 0;
                }
            }
        }
    }
}
