@import 'skeleton';
@import 'colors';
@import 'base';
@import 'nav';
@import 'form';
@import 'buttons';
@import 'landing';
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/fonts/glyphicons-halflings-regular.ttf");
}

.editing .faction .information .name {
    margin-top: 10px;
}

.six.columns {
    margin-left: 2%;
}

.elm-embed {
    &:empty {
        border: 3px solid $black;
        border-top: 60px solid $black;
        padding: 1em 1em 5em;
        margin: 1em auto;
        width: 100%;
    }

    &:after {
        @extend %glyphicon-eye-open;
    }
}

.ic {
    cursor: pointer;
    transition: 0.34s all ease;
    margin-right: 5px;

    &:hover {
        color: $red;
        transition: 0.34s all ease;
    }

    &.expanded {
        @extend %glyphicon-eye-open;
        top: 0;
    }

    &.closed {
        @extend %glyphicon-eye-close;
        top: 0;
    }
}

.name {
    user-select: none;
}

.district {
    .faction {
        .category {
            .name {
                width: 67%;
            }

            .hold,
            .rep,
            .status {
                width: 13%;
            }
        }

        .information {
            .name {
                width: 74%;
            }

            .hold,
            .rep,
            .status {
                width: 12%;
            }
        }
    }

    .stats {
        .checked {
            margin: 1px;
            top: 2px;
            @extend %glyphicon-record;
        }

        .unchecked {
            margin: 1px;
            color: #555;
            @extend %glyphicon-unchecked;
        }
        margin-top: 0.5em;
        width: 95%;
        border: 3px solid $black;

        .attr {
            padding: 0.9em;

            &.editing {
                margin: 0;

                .name {
                    width: 50%;
                }

                .value {
                    width: 45%;
                }
            }
        }

        .name {
            width: 62%;
            display: inline-block;
        }

        .value {
            font-size: 1.3em;
            width: 35%;
            display: inline-block;
            margin: 0 0.25em;
        }

        .amount {
            font-weight: bold;
            display: inline-block;
            position: relative;
            top: -2px;
            margin-left: 2px;
        }
    }

    .description {
        overflow: scroll;
        height: 400px;
        border-right: 3px solid $black;
        transition: all 0.5s ease-in;

        &.opened {
            height: 800px;
            transition: all 0.5s ease-out;
        }

        .fixed-footer {
            position: fixed;
            bottom: 0;
        }
    }

    .faction {
        width: 95%;
    }
}

.district,
.faction {
    background: white;
    border: 3px solid $black;
    margin: 1em 0;
    padding-bottom: 0.5em;

    .name {
        display: inline-block;
        width: 70%;
        font-family: Kirsty, Helvetica, Arial;
        font-size: 1.7em;
        transition: all 0.2s ease;

        &.current {
            margin-left: 1em;
            transition: all 0.2s ease;
        }
    }

    .icon {
        @extend %glyphicon-log-out;
        text-decoration: none;
        margin: 0 0.5em;
        position: relative;
        top: 2px;
        font-size: 0.8em;

        &:hover {
            background: transparent;
        }
    }

    .hold,
    .rep,
    .status {
        display: inline-block;
        text-align: center;
        width: 10%;
        vertical-align: top;
    }

    .category {
        background: $black;
        color: $white;
        padding: 1em;
        font-size: 1.3em;
    }

    .information {
        padding: 1em;

        .hold,
        .rep,
        .status {
            font-size: 1.4em;

            input {
                width: 60px;
                font-weight: bold;
                transform: skew(-10deg);
                margin: 0;

                &[type="checkbox"] {
                    display: none;
                }
            }
        }
    }

    &.description {
        padding: 1em;
        font-family: 'Crimson Text', serif;
        font-size: 1.2em;
    }
}

div.actions {
    margin: 0;

    button {
        margin: 0;
        border-radius: 0;
    }
}

.war {
    color: $red;
    text-transform: uppercase;
}

.editing {
    border: 4px solid $black;
    margin: 1em 0;
    padding: 0 1em 1em;
    transition: all 0.2s ease-out;
}
@media (max-width: 600px) {
    body,
    html {
        margin: 0;
        height: 100%;
    }

    .container {
        width: 90%;
    }

    .category,
    .information {
        .name {
            width: 63%;
            font-size: 1.5em;
        }

        .hold,
        .rep,
        .status {
            width: 12%;
        }
    }
}
