@import 'clrs';
$black: #333;
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@font-face {
  font-family: 'Kirsty';
  src: font-url('Kirsty.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  p, div, a {
    font-family: 'Crimson Text', serif;
  }
}

body {
    padding: 1em 0 2em 0;
    &:before { top: 0; }
    &:after { bottom: 0;}
    &:before, &:after {
      content: "";
      position: fixed;
      background: $black;
      left: 0;
      right: 0;
      height: 12px;
      z-index: 1000000;
    }
}

#left, #right {
  width: 12px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: $black;
}

#left  { left: 0; }
#right { right: 0; }

h1, h2, h3, h4, h5 {
  font-family: Kirsty, Helvetica, Arial;
}
