@import 'colors';

textarea,
textarea:focus,
select,
select:focus,
input[type="number"],
input[type="number"]:focus,
input[type="text"],
input[type="text"]:focus {
  border: 3px solid $black;
  border-radius: 0px;
}

textarea {
  width: 100%;
  min-height: 125px;
  margin: 0.1em 0 0 0;
  resize: none;
}
